@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root {
    --dark-blue: #000017;
    --dark-blue-variant: #121e37;
    --neon-green: hsl(150, 100%, 66%);
}

body {
    background: var(--dark-blue);
    color: var(--neon-green);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    width: 40%;
    background: var(--dark-blue-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
}

h1 {
    color: var(--neon-green);
    font-size: 1.6rem;
    padding: 1rem 0;
    letter-spacing: 4px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="text"],
select {
    margin-top: 0.6rem;
    color: white;
    background: transparent;
    border: 4px solid var(--neon-green);
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.8rem;
}

option {
    color: var(--dark-blue-variant);
}

button {
    background: var(--neon-green);
    color: var(--dark-blue-variant);
    padding: 1rem 1.2rem;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    transform: translateY(3.5rem);
    transition: box-shadow 0.5s 0s ease;
}

button:hover {
    box-shadow: 0 0 30px var(--neon-green);
}

#result {
    margin-top: 1.5rem;
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    form {
        width: fit-content;
    }
    .container {
        min-height: 40vh;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 375px) {
    form {
        width: fit-content;
    }
    .container {
        min-height: 40vh;
        flex-direction: column;
        justify-content: space-around;
    }
}